@font-face {
    font-family: Nunito_semiBold;
    src: url('../Fonts/Nunito-Medium.ttf');
}

@font-face {
    font-family: Nunito_Bold;
    src: url('../Fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: Nunito_Regular;
    src: url('../Fonts/Nunito-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

.navbar-brand>img {
    width: 150px;
}

.nav-item>a {
    font-family: 'Nunito_semiBold';
    font-weight: 600;
}

.nav-link {
    color: #2B2B2B;
}

.header-container {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1);
    /* IE6-9 */
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 3rem;
        padding-left: 1rem;
    }
}

.navbar-toggler {
    box-shadow: none !important;
}

.navbar-toggler-icon>i {
    font-size: 30px;
}

.navbar-container {
    position: fixed;
    z-index: 9999999;
    width: 100%;
    background-color: white;
}

.banner-container {
    position: relative;
    top: 80px;
}

.sticky-container {
    position: fixed;
    bottom: 0;
    z-index: 99999;
    background-color: white;
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.sticky-image>img {
    width: 300px;
}

.header-py-container {
    margin-top: 80px;
    background-color: #0c2359;
    display: none;
}


#py_header>.nav-item>a {
    color: #FFFF;
    font-size: 14px;
}

.nav-item>a>i {
    font-size: 14px;
    color: #caa354 !important;
    margin-right: 10px;
}

.alignments-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container>button {
    padding: 8px 30px;
    font-family: 'Nunito_semiBold';
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #ED3833;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: #fff;
    z-index: 0;
    font-weight: 600;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}


.button-container>button::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fffffff1, transparent);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    z-index: -1;
    transform: translateX(-120px)skew(-20deg);
    -webkit-transform: translateX(-120px)skew(-20deg);
    -moz-transform: translateX(-120px)skew(-20deg);
    -ms-transform: translateX(-120px)skew(-20deg);
    -o-transform: translateX(-120px)skew(-20deg);
    animation: 3s updown infinite;
    -webkit-animation: 3s updown infinite;
}

.button-container>button:hover::before {
    transform: translateX(300px)skew(-20deg);
    -webkit-transform: translateX(300px)skew(-20deg);
    -moz-transform: translateX(300px)skew(-20deg);
    -ms-transform: translateX(300px)skew(-20deg);
    -o-transform: translateX(300px)skew(-20deg);
}

.button-container>button:hover {
    background: #ff006a;
}

.button-container>button:last-child {
    margin-left: 2rem;
}

@keyframes updown {
    0% {
        transform: translateX(-120px)skew(-20deg);
        -webkit-transform: translateX(-120px)skew(-20deg);
        -moz-transform: translateX(-120px)skew(-20deg);
        -ms-transform: translateX(-120px)skew(-20deg);
        -o-transform: translateX(-120px)skew(-20deg);
    }

    100% {
        transform: translateX(300px)skew(-20deg);
        -webkit-transform: translateX(300px)skew(-20deg);
        -moz-transform: translateX(300px)skew(-20deg);
        -ms-transform: translateX(300px)skew(-20deg);
        -o-transform: translateX(300px)skew(-20deg);
    }
}



@media screen and (min-width: 1200px) {
    .header-py-container {
        display: block;
    }
}

.nav-link {
    white-space: nowrap;
}

.button-container {
    white-space: nowrap;
    position: absolute;
    top: 20px;
    right: 35px;
    z-index: 9999;
}

.second-container {
    background-image: linear-gradient(rgba(23, 32, 54, 0.3) 0%, rgba(23, 32, 54, 1) 100%), url('../Images/top-view1-1.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 10; */
    background-attachment: fixed;
    position: relative;
    margin-top: 78px;
    padding: 30px 0px 30px 0px;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    align-items: center;
    grid-gap: 2rem;
}

.container-grid>div {
    height: auto;
}

.logo {
    width: 35%;
}

.logo-text {
    width: 60%;
}

.left-side-col>p:nth-child(2) {
    color: white;
    font-family: 'Nunito_Bold';
    margin-top: 20px;
    margin-left: 45px;
}

.center-img {
    margin-top: 30px;
    text-align: center;
}

.letter-side {
    font-size: 17px;
    color: white;
    font-family: 'Nunito_Regular';
    margin-top: 20px;
    line-height: 1.6195;
}

.download-brochure>button {
    margin-top: 15px;
    padding: 8px 30px;
    font-family: 'Nunito_semiBold';
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #ED3833;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: #fff;
    z-index: 0;
    font-weight: 600;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.download-brochure>button::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fffffff1, transparent);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    z-index: -1;
    transform: translateX(-120px)skew(-20deg);
    -webkit-transform: translateX(-120px)skew(-20deg);
    -moz-transform: translateX(-120px)skew(-20deg);
    -ms-transform: translateX(-120px)skew(-20deg);
    -o-transform: translateX(-120px)skew(-20deg);
}

.download-brochure>button:hover::before {
    transform: translateX(300px)skew(-20deg);
    -webkit-transform: translateX(300px)skew(-20deg);
    -moz-transform: translateX(300px)skew(-20deg);
    -ms-transform: translateX(300px)skew(-20deg);
    -o-transform: translateX(300px)skew(-20deg);
}

.download-brochure>button:hover {
    background: #ff006a;
}

.right-side-col>ul {
    list-style: none;
}

.right-side-col>ul>li>i {
    color: #d7af5c;
    font-size: 16px;
}

.right-side-col>ul>li {
    line-height: 50px;
    font-family: 'Nunito_Regular';
    color: white;
    font-size: 16px;
}



@media screen and (max-width: 1080px) {
    .container-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .second-container {
        top: 80px;
    }

    .right-side-col>ol, ul {
        padding-left: 0rem;
    }
}

.project-amenties {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.65) 100%), url('../Images/top-view1-1.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0px;
    padding: 40px 0px 40px 0px;
}

.project-amenties-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
}

.projects>button {
    float: right;
}

.project-amenties-grid>div>p {
    font-size: 16px;
    font-family: 'Nunito_semiBold';
    color: white;
    letter-spacing: 3px;
    margin-bottom: 0rem;
}

.projects>button {
    margin-top: 0px !important;
}

.projects {
    position: relative;
}

.projects:before {
    content: "";
    display: block;
    width: 80%;
    height: 0px;
    position: absolute;
    top: 20px;
    left: 0px;
    right: -20px;
    border-bottom: solid 1px #fff;
}

.projects span {
    position: relative;
    display: inline-block;
}

@media screen and (max-width: 576px) {
    .project-amenties-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.img-grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.img-grid-row>div {
    /* border: 1px solid white; */
    height: fit-content;
}

.third-container {
    background-image: url('../Images/top-view1-1.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0px;
    padding: 40px 0px 40px 0px;
}

.left-img-col>img {
    width: 100%;
}

.right-img-col {
    position: relative;
    top: 0;
    background-color: #0c2359;
    height: 100%;
    left: -25px;
}

.overlay {
    background-color: #fff;
    background-image: url(https://www.sethiainfra.com/wp-content/uploads/2020/07/randy-orourke-637925-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .15;
    filter: brightness(200%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    position: relative;
    content: "";
    top: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.overlay-text {
    padding: 30px 50px;
}

.overlay-text>p {
    color: white;
    font-family: 'Nunito_Regular';
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 0.7rem;
}

.overlay-text>h3 {
    color: #caa354;
    font-family: 'Nunito_Bold';
    letter-spacing: 3px;
    line-height: 1.1195;
    font-size: 38px;
}

.overlay-text>button {
    margin-top: 15px;
    border: none;
    font-size: 14px;
    letter-spacing: 3px;
    outline: none;
    padding: 5px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-family: 'Nunito_Regular';
    background-color: #caa354;
}

.proximity-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    grid-gap: 2rem;
}

.flex-sm {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-sm>i {
    color: #caa354;
    font-size: 20px;
}

.flex-sm>p {
    font-size: 18px;
    margin-bottom: 0rem;
    font-family: 'Nunito_semiBold';
    color: #caa354;
}

@media screen and (max-width: 992px) {
    .img-grid-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .right-img-col {
        top: 30px;
        left: 0;
    }

    .overlay-text {
        padding: 30px 35px;
    }
}


@media screen and (max-width: 576px) {
    .proximity-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .overlay-text {
        padding: 30px 20px;
    }

    .overlay-text>h3 {
        font-size: 32px;
    }
}

.our-amenities {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../Images/top-view1-1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0px;
    padding: 70px 0px 70px 0px;
}

.our-amenities-grid {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-column-gap: 2rem;
}

.our-amenities-grid>div>img {
    width: 100%;
}

.our-amenities-grid>div:nth-child(1) {
    background-color: #fff;
    align-items: center;
    /* justify-content: center; */
    display: flex;
}

.left-overlay {
    position: relative;
    top: 0;
    background-color: #0c2359;
    height: 100%;
    left: -25px;
}

.overlay-left {
    background-color: #fff;
    background-image:
        url(https://www.sethiainfra.com/wp-content/uploads/2020/07/randy-orourke-637925-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .12;
    position: relative;
    content: "";
    top: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.overlay-left-text {
    padding: 30px 30px;
}

.overlay-left-text>h3:nth-child(1) {
    font-size: 38px;
    color: #0c2359;
    letter-spacing: 3px;
    font-family: 'Nunito_Bold';
}

.img-brochure>h3 {
    font-size: 38px;
    color: #ED3833;
    letter-spacing: 3px;
    font-family: 'Nunito_Bold';
}

.img-brochure {
    position: relative;
}

.img-brochure:before {
    content: "";
    display: block;
    width: 65%;
    height: 0px;
    position: absolute;
    top: 20px;
    left: 100%;
    right: 0px;
    border-bottom: solid 1px #000;
}

.img-brochure span {
    position: relative;
    display: inline-block;
}

@media screen and (max-width: 1080px) {
    .img-brochure:before {
        border: none;
    }
}

@media screen and (max-width: 992px) {
    .our-amenities-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .left-overlay {
        left: 0;
    }
}

@media screen and (max-width: 576px) {
    .overlay-left-text>h3:nth-child(1) {
        font-size: 32px;
    }

    .img-brochure>h3 {
        font-size: 32px;
    }
}

.hover-animation {
    background-image: linear-gradient(rgba(6, 20, 51, 0.5) 0%, rgba(6, 20, 51, 1) 100%), url('../Images/footer-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0px;
    padding: 70px 0px 70px 0px;
}

.hover-animation>.container>h4 {
    text-align: center;
}

.hover-animation>.container>h4 {
    color: #caa354;
    letter-spacing: 2px;
    font-family: 'Nunito_semiBold';
    font-size: 22px;
}

.hover-animation>.container>p {
    color: #caa354;
    font-family: 'Nunito_Regular';
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
}

.hover-animation-grid-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.hover-animation-grid-row>div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.hover-animation-grid-row>div:hover {
    background-color: #0c23592b;
    cursor: pointer;
    border-bottom: 2px solid #caa354;

}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.hover-animation-grid-row>.transform:hover {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    cursor: pointer;
}

.hover-animation-grid-row>div>i {
    color: #ED3833;
    font-size: 32px;
}

.hover-animation-grid-row>div>p {
    color: #ffff;
    font-size: 22px;
    margin-top: 15px;
    font-family: 'Nunito_semiBold';
}

#bg {
    position: relative;
    top: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    width: 100%;
    overflow: hidden;
}

#bgs {
    position: relative;
    top: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('../Images/top-view1a.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0px;
    padding: 70px 0px 70px 0px;
}

.item>img {
    width: 100%;
}

.hover-animations {
    background-image: linear-gradient(rgba(6, 20, 51, 0.5) 0%, rgba(6, 20, 51, 1) 100%), url('../Images/top-view1-1.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0px;
    padding: 70px 0px 70px 0px;
}

.hover-animations>.container>h4 {
    text-align: center;
}

.hover-animations>.container>h4 {
    color: #caa354;
    letter-spacing: 2px;
    font-family: 'Nunito_semiBold';
    font-size: 22px;
}

.hover-animations>.container>p {
    color: #caa354;
    font-family: 'Nunito_Regular';
    letter-spacing: 2px;
    font-size: 16px;
}

.small-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.small-display>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.small-display>div>i {
    color: #caa354;
    font-size: 22px;
}

.small-display>div>p {
    font-size: 20px;
    color: #caa354;
    margin-bottom: 0rem;
    font-family: 'Nunito_semiBold';
}

.saml {
    display: none;
}

@media screen and (max-width: 1080px) {
    .hover-animation>.large-display {
        display: none;
        padding: 0;
    }

    .hover-animations>.large-display {
        display: none;
    }

    .saml {
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .small-display {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .small-display>div {
        justify-content: flex-start;
        margin-top: 15px;
    }
}

.google-maps-grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.view-map-col {
    background-image: linear-gradient(rgba(23, 32, 54, 0.3) 0%, rgba(23, 32, 54, 1) 100%), url('../Images/footer-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 10; */
    background-attachment: fixed;
    position: relative;
    top: 0px;
    padding: 30px 0px 30px 0px;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.view-map-col>h3 {
    font-size: 38px;
    color: #ffff;
    font-family: 'Nunito_Bold';
    letter-spacing: 3px;
}

@media screen and (max-width: 640px) {
    .google-maps-grid-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .view-map-col>h3 {
        font-size: 28px;
    }

    .view-map-col>div {
        margin-top: 0rem !important;
    }
}

main {
    padding: 40px 0px 40px 0px;
    background-color: transparent;
    background-image: -o-linear-gradient(top, #EFF1FE 0%, #FFFFFF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EFF1FE), to(#FFFFFF));
    background-image: linear-gradient(180deg, #EFF1FE 0%, #FFFFFF 100%);
}

.form-grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
}

.grider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.form-grid-row>div>form>div>div>input {
    width: 100%;
    margin-bottom: 2rem;
    height: 40px;
    outline: none;
    border: 1px solid #caa354;
    padding: 5px 10px;
    font-family: 'Nunito_semiBold';
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.form-grid-row>div>h3 {
    font-size: 38px;
    color: #caa354;
    margin-bottom: 2rem;
    font-family: 'Nunito_Bold';
    letter-spacing: 3px;
}

.form-submit>button {
    margin-top: 0px !important;
}

.address-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.address-list>h4 {
    font-family: 'Nunito_semiBold';
    letter-spacing: 3px;
    color: #0c2359;
    font-size: 22px;
}

.address-list>p {
    font-family: 'Nunito_Regular';
    font-size: 16px;
}

.footer {
    background-color: #caa354;
    height: auto;
    padding: 10px;
}

.footer>p {
    color: #fff;
    font-family: 'Nunito_Regular';
    text-align: center;
    margin-bottom: 0rem;
}

@media screen and (max-width: 1080px) {
    .grider {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .form-grid-row {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .form-grid-row>div>h3 {
        font-size: 26px;
    }

    .address-list>h4 {
        font-size: 18px;
    }

    .address-list>p {
        font-size: 14px;
    }
}

.modal {
    top: 100px;
}